.Card {
  background: rgba(255,255,255, .25);
  border-radius: .5em;
  box-shadow: 0 0 12px 0 rgba(0,0,0,.2);
  max-width: 500px;
  min-width: 400px;
  padding: 1em;
  margin: 1em 0;
}

.Card h4,
.Card h5,
.Card h6 {
  font-size: 1.125rem;
  margin: 0;
}

.Card h4 {
  font-weight: 600;
}

.Card h5 {
  font-weight: 400;
  opacity: 0.65;
}
