.CurrentWeather {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.CurrentWeather div,
.CurrentWeather .forecast {
  font-size: 1.5rem;
  font-weight: 700;
}

.CurrentWeather img {
  height: 100px;
  width: 100px;
}

.CurrentWeather span {
  display: block;
}

.CurrentWeather .current {
  display: block;
  font-size: 6rem;
  font-weight: 500;
  line-height: .96em;
  position: relative;
}
