.Form {
  flex-basis: 100vw;
  text-align: center;
}

input {
  border: 0;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
  transition: box-shadow 0.2s ease-in-out; 
}

input[type=text] {
}

input[type=submit] {
  background: rgba(255,255,255,.5);
  color: white;
  cursor: pointer;
  font-weight: 600;
  margin-left: 10px;
}

input[type=text]:focus, 
input[type=submit]:focus, 
input[type=submit]:hover {
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.06);
  outline: 0px;
}
