.Menu {
  margin: 1em 0;
}

.Menu ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.Menu li {
  display: inline-block;
}

.Menu a {
  color: white;
  padding: 10px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.Menu a:hover {
  background: rgba(255,255,255,.1);
  box-shadow: 0 0 10px 4px rgba(0,0,0,0.06); 
}
